.md-download {
    margin: auto;
	position: fixed;
	top: 20%;
	left: 0;
    right: 0;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    text-align: center;
    align-items: center;
}   

.md-content p {
    color: #ffffff;
    font-size: 30px;
}

.md-content h3 {
    color: #ffffff;
    font-size: 40px;
}
