.md-menu {
    margin: auto;
	position: fixed;
	top: 20%;
	left: 0;
    right: 0;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    text-align: center;
    align-items: center;
}

.ul-menu {
    font-size: 65px;
    color: #ffffff;
    display: inline;
}

.md-content a {
    color: #ffffff;
}

.md-content a:hover {
    color: #ffffff;
    opacity: 0.7;
}