/* - START - */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 300;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: 'Nunito Sans', sans-serif;
	transition: all 0.2s;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* - HEADER - */
.header {
	width: 100%;
	float: left;
	height: 70px; 
	background-color: #008578;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0 65px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.logo a {
	float: left;
}
.logo img {
	width: 180px;
	float: left;
}


/* - MENU - */
.menu {
	width: 100%;
}

.menu ul {
	float: right;
}
.menu li {
	float: left;
}

.menu li a {
	color: #ffffff;
	margin-left: 25px;
}

.menu li a:hover {
	transition: all 0.2s;
	opacity: 0.5;
}

#menu-mobile {
	display: none;
	height: 30px;
	float: right;
	cursor: pointer;
}

/* - MAIN - */
main {
	margin-top: 70px;
}

/* - SLIDER - */
.slider {
	width: 100%;
	height: 600px; 
	background: url(../images/slider.png) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 65px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.slider h1 {
	color: #000000;
	font-size: 3.5em;
	line-height: 1em;	
}

.slider span {
	color: #008578;
}

#slider-button {
	margin-top: 15px;
	width: 20%;
	float: left;
	height: 60px;
	background-color: #008578;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	min-width: 255px;
}
#slider-button:hover {
	transition: all 0.2s;
	background-color: #00554c;
}
/* - SOBRE - */
.about {
	text-align: center;
	background-color: #00554c;
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5% 20%;
}

.about img {
	width: 150px;
}

.about p {
	color: #ffffff;
	font-size: 24px;
}

/* - ALGUMA COISA - */
.features {
	min-height: 400px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	padding: 50px 0;
}

.features h2 {
	font-size: 30px;
	font-weight: 700;
}

.features a {
	width: 180px;
	padding: 15px 0;
	background: #008578;
	border-radius: 10px;
	color: white;
	margin: 0 auto;
}

.features a:hover { 
	background: #00554c;
}

.row { 
	padding: 0 65px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.col-icon {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 6%;
	text-align: center;
}

.col-icon h3 {
	margin: 5px 0;
	font-size: 20px;
	font-weight: 700;
}

.col-icon p {
	color: #4e4e4e;
}

.col-icon img {
	width: 150px;
}

/* - FOOTER - */
.footer {
	width: 100%;
	background: #00554c;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 65px;
}

.footer p {
	color: #ffffff;
	text-align: left;
}

.footer a {
	color: #ffffff;
}

.footer a:hover {
	opacity: 0.5;
}

@media (max-width: 765px) {

	.footer {
		justify-content: space-around;
	}
	.footer p{
		text-align: center;	
	}

	.row {
		flex-direction: column;
		margin-bottom: 0%;
	}

	.col-icon {
		width: 100%;
		padding-top: 0%;
		padding-bottom: 10%;;
	}

	.menu ul{
		display: none;
	}
	#menu-mobile {
		display: block;
	}
	.about {
		padding: 5% 5%;
	}
}

@media (max-width: 410px) {
	#menu-mobile {
		height: 15px;
	}

	.header {
		padding: 0 5%;
	}
}








